
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.banner-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

.text-container {
    text-align: start; 
    white-space: nowrap;
}
.text-container h1 {
    width: 649px;
    height: 144px;
    top: 247px;
    left: 90px;
    font-size: 40px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    line-height: 48.41px;
    margin: 0;
}


.text-container p {
    width: 453px;
    height: 34px;
    top: 406px;
    left: 90px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}


.button-container {
    display: flex;  
    gap: 10vw;
    margin-bottom: 5px;
    
}
.button3{
    box-shadow: 0 9px 6px rgba(0, 0, 0, 0.1);
}


.button1 {
    width: 168px;
    height: 53px;
    top: 481px;
    left: 92px;
    border-radius: 25px;
    background-color: #C8F031;
    color: black;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 9px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 53px;
    cursor: pointer;
    border: none;
}



.banner-image {
        width: 527px;
        height: 547px;
        top: 69px;
        left: 733px;
    
    
    /* max-width: 100%;
    float: right;
    margin-right: 20px; 
    width: 527px;
    height: 547px;
    top: 69px;
    left: 733px; */
}

.gradient-ellipse {
    width: 467px;
    height: 467px;
    position: absolute;
    top: 101px;
    left: 209px;
    background: rgba(196, 247, 209, 1);
    /* box-shadow: 1px 1px 18px 20px #FFFFFF; */
    filter: blur(137px);
    border-radius: 30%;
    z-index: -1;
}




.gradient-ellipse1{
    width: 467px;
    height: 467px;
    top: 311px;
    position: absolute;
    left: 575px;
    background: rgba(240, 242, 163, 1);
    /* box-shadow: 1px 1px 18px 20px #FFFFFF; */
    filter: blur(137px);
    border-radius: 30%;
    z-index: -1;
}